.header {
    width: 100%;
    height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcebd1;

    &__logo {
        height: 100%;
    }
}